<main class="main">
  <div class="inner">
    <%= link_to 'ついったー', "https://twitter.com/share?url=#{request.original_url}", title: 'Twitter', target: '_blank' %>
    <% if user_signed_in? %>
     <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        こんにちは
        <%= link_to current_user.name, user_path(current_user), class: :greeting__link%>さん
      </div>
     <%# // ログインしているときは上記を表示する %>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'prototype', collection: @prototypes %>
    </div>
  </div>
</main>
